body {
    background: #007fc7;
}

#container {
    background: #fff;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}

p {
    width: 300px;
}

.fixed {
    border: 1px solid green;
    background: #f2f2f2;
    margin: 0´x;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.absolute {
    border: 1px solid yellow;
    position: absolute;
    background: #f2f2f2;
    top: 80px;
    right: 80px;
}

.relative {
    border: 1px solid red;
    position: relative; /*top, right, bottom, left*/
    bottom: -20px;
}